<div class="container-fluid">
<% provide(:title, "About") %>
<h1>About</h1>

<p class="text-paragraph">The Financial Literacy System will give students and young adults access to valuable financial advice that will greatly improve the quality of their lives. </p>
<p class="text-paragraph">
The target users of the Financial Literacy System are normal public users, especially young people and students who need financial advice and supportive options. The users will learn the basics of financial literacy, banking, and budgeting.
The Financial Literacy System is able to make effective and informed money management decisions. It will help people manage their debt, make spending plans and budgets, invest in education, plan for the future, keep money in perspective and purchase their first car and home, etc.
The Financial Literacy System will also help enrich young people’s lives through knowledge of making money to work for them. Whether he or she has experience in the financial industry, or have little to no knowledge of the financial system.
</p>


<!--<p>this will be the about page</p>
<p>Find me in app/views/static_pages/about.html.erb</p>
<p>Reminder guys, the headers and footer files and located in views/layouts and are _footer.html.erb and _header.html.erb</p>-->
</div>
