<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>Provide user with contact email</p>
<p>Find me in app/views/static_pages/contact.html.erb</p>
<p>Reminder guys, the headers and footer files and located in views/layouts and are _footer.html.erb and _header.html.erb</p>