<div class="container-fluid">
<% provide(:title, 'Help') %>
<h1>Help</h1>
<p class="text-paragraph">This will be the help page</p>
<p class="text-paragraph">Find me in app/views/static_pages/help.html.erb</p>
<p class="text-paragraph">Reminder guys, the headers and footer files and located in views/layouts and are _footer.html.erb and _header.html.erb</p>
</div>
