<div class="home-page text-center container-fluid">

	  <h1>Welcome to FinanceBuddy</h1>

	  <h2>
		Meet Bob.. The only financial advisor you'll ever need!
	  </h2>

	  <a href=" http://m.me/1789531408031316">
	   <div class="btn btn-warning btn-lg">Try out bot for free</div>
	</a>
	</div>

	<div class="container">
	  <h1>Pricing</h1>
	  <div class="row">
		<div class="col-md-6 col-md-offset-3">
		  <div class="well well-md">
			<h2 class="text-center form-format">Free Membership</h2>
			<h4 class="form-format text-format">Sign up for free and if you want access to more features become a pro member</h4>
			<br />
			<%= link_to "Sign up with Free Plan", signup_path(plan: @free_plan.id), class:"btn btn-warning btn-lg btn-block" %>
		  </div>
		</div>
		<div class="col-md-6 col-md-offset-3">
		  <div class="well well-md">
			<h2 class="text-center form-format">Pro Membership</h2>
			<h4 class="form-format text-format">Sign up with our pro membership for only a one time charge of 20$ and have access to quality financial advice forever!</h4>
			<br />
			<%= link_to "Sign up with Pro Plan", signup_path(plan: @pro_plan.id), class:"btn btn-success btn-lg btn-block" %>
		</div>
		</div>
	  </div>
</div>
